$lightGrey1: #cccccc; 
$lightGrey2: #dddddd; 
$darkGrey: #333333; 
$grey: #666666; 
$orange: #f58220;

/*--------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif; 
}

p{
	font-size: 14px;
	line-height: 1.5em;
}

body{
	background-color: $lightGrey1;
	.wrapperBody{
		max-width: 960px;
		margin: 0 auto;
	}
}


/*--------------------------------*/
header{
	background-color: $darkGrey;
	.logo{
		height: 100px;
		img{
			margin: 27px; //Positioning logo picture
		}
	}
	.mainNav{
		font-size: 0; //Remove space between inline elements
		background-color: $grey;
		color: white;

		.openM{
			display: none;
			padding-left: 30px;		
			font-size: 35px;
			line-height: 50px;
			span{
				cursor:pointer;
			}
		}
		.navLinks{
			li{
				display: inline-block;
				border-right: 1px solid $darkGrey; 
				a{
					font-size: 16px; //----
					text-decoration: none;
					color: inherit;
					line-height: 50px;
					padding: 16.5px 25px; //Mark the whole field
					&:hover{
						background-color: $orange;
					}
				}
			}	
		} 
	}
}

/*--------------------------------*/
.wrapperMain{
	display: flex;
}


/*--------------------------------*/
main{
	width: (660/960)*100%;
	background-color: white;
	padding: 0 20px 77px; 

	article{
		border-bottom: 1px solid $lightGrey1;
		padding: 40px 0;
		overflow: auto;
		
		figure{
			width: (160/620)*100%;

			img{
				background-color: $lightGrey2;
				width: 100%;
				vertical-align:top; 
				//max-height: 160px;
			}
		}

		h2,p{
			padding-bottom: 20px;
			width: (440/620)*100%;
			float: right;
				
			a{
				text-decoration: none;
				color: $orange;
			}
		}

		.readMeLink{
			padding-bottom: 0;
		}	
	}
}

/*--------------------------------*/
aside{
	float: right;
	width:  (300/960)*100%;
	background: $lightGrey2;
	padding: 0 20px 40px;
	
	h3{
		padding: 40px 0 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $lightGrey1;
	}

	ul li{
		list-style-type: none;
		margin-left:10px;

		&:not(:first-child){
			padding-top: 20px;
		}

		a{
			text-decoration: none;
			color: $orange;
		}
	}
}

/*--------------------------------*/
footer{

	text-align: center;
	background-color: $darkGrey;
	padding:18px 0;

	address{
		font-size: 12px;
		color: white;

		a{
			color: $orange;
			text-decoration: none;
		}
	}
}

/*-------------------------------------*/
@media only screen and (max-width:767px){

	main{
		width: 100%;
	}
	
	aside{
		display: none;
	}	
}

@media only screen and (max-width:500px){
	header{
		.mainNav{
			.openM{
				display: block;
			}
			.navLinks{
				li{
					display: block;
					border-right: none;
					a{
						padding: 16.5px  80px;
					}
				}	
			} 
		}
	}

	.dropdown{
		position: relative;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: $lightGrey2;
	    text-align: center;
		min-width:160px;
	    overflow: auto;
	    color: white;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;

	}

	.show {
		display:block;
	}
}


